.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-content {
  width: 600px;
  background-color: #ffffff;
  /* text-align: center; */
  border-radius: 20px;
  padding: 30px;
  /* padding-bottom: 30px; */
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0px;
  font-size: 35px;
  font-family: "Poppins";
}

.modal-body {
  padding: 0px;
  font-size: 30px;
  font-family: "Poppins";
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.button {
  width: 130px;
  height: 60px;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid #6a4029;
  color: #6a4029;
}

.otp-input input[type=number] {
  -webkit-text-security: disc;
}

.otp-input input[type="number"]::-webkit-outer-spin-button,
.otp-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-input input[type="number"] {
  -moz-appearance: textfield;
}

.button:active {
  background-color: #6a4029;
  color: #ffffff;
}

.otp-input input {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none;
  width: 72px !important;
  gap: -5rem !important;
  height: 84px !important;
  margin: 3px 8px !important;
  border-radius: 10px !important;
  text-align: center;
  padding-left: 2px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid var(--primary) !important;
  -webkit-border-radius: 10px !important;
}

.main-container {
  display: flex;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
  gap: 3rem;
}

.main-container .pin-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 4px 20px #0000000d;
  border-radius: 20px;
}

.h2 {
  font-weight: 700;
  padding-bottom: 15px;
  font-size: 18px;
  color: #3A3D42;
}

.description {
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  color: #3A3D4299;
}

.form-container {
  text-align: center;
  /* padding-bottom: 15rem; */
  /* padding: 1rem 7rem 5rem 7rem; */
}

.not-accept button {
  background-color: var(--dark03) !important;
  cursor: default !important
}

.not-accept button:hover {
  opacity: 1 !important;
}

.form {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  /* align-items: center; */
}

.form input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1.5px solid #3a3d424d;
  background-color: transparent;
  font-weight: 600;
  padding-left: 1.25rem;
}

.form input::placeholder {
  color: #3a3d424d;
}

.form input:focus {
  outline: none;
}

.form input:not(:placeholder-shown) {
  border-bottom: 2px solid #6379f4;
}

.form button {
  /* margin-top: 1rem; */
  width: 170px;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  height: 3rem;
  border: none;
  color: white;
  box-shadow: 0px 6px 75px 0px #6457570D;
  background-color: #6379f4;
  font-weight: 700;
  border-radius: 0.75rem;
}

.form button:hover {
  background-color: #6379f4;
  border-color: #6379f4;
  opacity: 0.9;
}

.form button:disabled {
  color: var(--dark);
  background-color: #3a3d424d;
}

.form div {
  position: relative;
}

@media (max-width: 576px) {
  .main-container {
    flex-direction: column;
    padding: 1rem;
  }

  .pin-container {
    padding: 0;
  }

  .form-container {
    padding: 0px;
  }

  .title {
    text-align: center;
  }
}