@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito+Sans:wght@400;600;700;800&display=swap');

.container {
  background-color: white;
  width: 100%;
  color: #3a3d42cc;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  box-shadow: 0px 4px 20px 0px #0000000d;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.toggle-list {
  background-color: white;
  z-index: 1;
  width: 60%;
  height: 51%;
  color: #3a3d42cc;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0px 4px 20px 0px #0000000d;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 0;
  transform: translateX(-100%);
}

.dashboard {
  z-index: 2;
  position: relative;
  user-select: none;
  cursor: pointer;
  gap: 0.8rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2.5rem;
}

.container p {
  margin-bottom: 0;
}

.on {
  color: #6379f4;
  z-index: 2;
  font-weight: 700;
  /* margin-left: rem !important; */
}

.rectangle {
  background-color: #6379f4;
  width: 0.3rem;
  height: 2rem;
  /* margin-right: px; */
}

.off {
  z-index: 2;
  margin-left: 1.2rem;
}

.logout {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 1.2rem;
  cursor: pointer;
  user-select: none;
  margin-top: auto;
}

.logout p:hover {
  color: var(--primary);
  color: #6379f4;
  z-index: 2;
  font-weight: 700;
}

.modal {
  width: 100%;
  height: 100vw;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ask {
  font-family: "Lilita One" !important;
  font-weight: 400;
  font-size: 40px;
  /* color: var(--primary); */
  width: 70%;
  text-align: center;
}

.modal-container {
  justify-content: space-between;
  user-select: none;
  display: flex;
  font-weight: 700;
  font-size: 25px;
  flex-direction: column;
  background-color: white;
  width: 40%;
  top: 10%;
  left: 30%;
  min-height: 20rem;
  align-items: center;
  border-radius: 25px;
  padding: 2rem;
  position: absolute;
  box-shadow: 0px 4px 20px 0px #0000000D;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.modal-container-topup {
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 503px;
  height: 417px;
  box-shadow: 0px 4px 20px 0px #0000000D;
  top: 10%;
  left: 35%;
  min-height: 20rem;
  border-radius: 25px;
  padding: 2rem;
  position: absolute;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.modal-container-topup i {
  cursor: pointer;
}

.title-topup {
  padding-top: 1.5rem;
  text-align: left;
  width: 18rem;
  font-weight: 400;
  font-size: 16px;
  color: #3A3D4299;
}

.input-topup {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border: 1px solid #A9A9A999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input-topup p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 20px;
  font-weight: 700;
}

.line {
  width: 0.2rem;
  background-color: #A9A9A999;
  height: 4rem;
}

.input-topup input {
  font-size: 30px;
  width: 437px;
  font-weight: 400;
  border: none;
  outline: none !important;
}

.topup-submit {
  user-select: none;
  display: flex;
  justify-content: end;
  margin-top: 4.5rem;
}

.topup-submit p {
  cursor: pointer;
  width: 170px;
  color: white;
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 12px;
  background-color: var(--primary);
  box-shadow: 0px 6px 75px 0px #6457570D;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.topup-submit p:active {
  opacity: 0.8;
}

.container-btn {
  display: flex;
  gap: 5rem;
}

.btn:active {
  opacity: 0.8;
}

.btn {
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 25px;
  width: 10rem;
  border-radius: 25px;
  padding: 1rem;
  background-color: #6379f4;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.loading {
  opacity: 0.8 !important;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.toggle {
  display: none;
  top: 10.4rem;
  left: 0;
  background-color: white;
  padding: 0 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 2rem;
  color: #6379f4;
}

/* .close-toggle {
    display: none;
} */

.modal-top {
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #3A3D42;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .bg-modal {
    width: 94.3%;
    bottom: -5rem;
    height: 100%;
    padding: 0 !important;
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .container {
    display: none;
    /* opacity: .9; */
  }

  .toggle-list {
    border-radius: 0px;
    box-shadow: none;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 65%;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
    height: 100%;
    transform: translateX(0);
    transition: all ease-in .5s;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .toggle-list-backdrop.in {
    opacity: 0.9;
  }

  .toggle-list p {
    margin: 0;
  }

  .toggle {
    display: block;
  }
}